body, html {
    width: 100%;
    background-color: #eaeff3
}

#app {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.van-nav-bar__content {
    background-color: #2bb7b3
}

.van-nav-bar .van-icon, .van-nav-bar__title {
    color: #fff !important
}

body, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, html, img, legend, li, ol, p, ul {
    margin: 0;
    padding: 0
}

html {
    font-size: 14px
}

img {
    display: block
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    clear: both;
    content: "";
    display: table
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.txt-wrap {
    word-break: break-all;
    word-wrap: break-word
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left !important
}

.ac {
    text-align: center !important
}

.ar {
    text-align: right !important
}

.ver-t {
    vertical-align: top
}

.ver-m {
    vertical-align: middle
}

.ver-b {
    vertical-align: bottom
}

.pointer {
    cursor: pointer
}

.noPointer {
    cursor: inherit !important
}

.hide {
    display: none !important
}

.show {
    display: block !important
}

.inline-block {
    display: inline-block
}

.inline {
    display: inline
}

.block {
    display: block
}

.w1 {
    width: 1rem
}

.w1-2 {
    width: 1.2rem
}

.w1-4 {
    width: 1.4rem
}

.w1_6 {
    width: 1.6rem
}

.w1-8 {
    width: 1.8rem
}

.w2 {
    width: 2rem
}

.w2-2 {
    width: 2.2rem
}

.w2_4 {
    width: 2.4rem
}

.w2-6 {
    width: 2.6rem
}

.w2-8 {
    width: 2.8rem
}

.w3 {
    width: 3rem
}

.w3-2 {
    width: 3.2rem
}

.w3-4 {
    width: 3.4rem
}

.w3-6 {
    width: 3.6rem
}

.w3-8 {
    width: 3.8rem
}

.w4 {
    width: 4rem
}

.w4-2 {
    width: 4.2rem
}

.w4-4 {
    width: 4.4rem
}

.w4_6 {
    width: 4.6rem
}

.w4-8 {
    width: 4.8rem
}

.w5 {
    width: 5rem
}

.w5-2 {
    width: 5.2rem
}

.w5-4, .w5-6 {
    width: 5.4rem
}

.w50-8 {
    width: 5.8rem
}

.w6 {
    width: 6rem
}

.w7 {
    width: 7rem
}

.w8 {
    width: 8rem
}

.w9 {
    width: 9rem
}

.w10 {
    width: 10rem
}

.w20 {
    width: 20rem
}

._w50 {
    width: 50%
}

._w60 {
    width: 60%
}

._w70 {
    width: 70%
}

._w80 {
    width: 80%
}

.wp5 {
    width: 5%
}

.wp10 {
    width: 10%
}

.wp20 {
    width: 20%
}

.wp22 {
    width: 22%
}

.wp26 {
    width: 26%
}

.wp38 {
    width: 38%
}

.wp90 {
    width: 90%
}

.wp100 {
    width: 100%
}

.wp99 {
    width: 99%
}

.min-w-0 {
    min-width: 0
}

.max-w-70 {
    max-width: 70%
}

.max-w-80 {
    max-width: 80%
}

.max-w-90 {
    max-width: 90%
}

.h10 {
    height: 10px
}

.h15 {
    height: 15px
}

.h14 {
    height: 14px
}

.h18 {
    height: 18px
}

.h20 {
    height: 20px
}

.h22 {
    height: 22px
}

.h24 {
    height: 24px
}

.h25 {
    height: 25px
}

.h26 {
    height: 26px
}

.h28 {
    height: 28px
}

.h29 {
    height: 29px
}

.h30 {
    height: 30px
}

.h34 {
    height: 34px
}

.h38 {
    height: 38px
}

.h40 {
    height: 40px
}

.h42 {
    height: 42px
}

.h44 {
    height: 44px
}

.h46 {
    height: 46px
}

.h48 {
    height: 48px
}

.h50 {
    height: 50px
}

.h52 {
    height: 52px
}

.h53 {
    height: 53px
}

.h57 {
    height: 57px
}

.h58 {
    height: 58px
}

.h60 {
    height: 60px
}

.h64 {
    height: 64px
}

.h66 {
    height: 66px
}

.h80 {
    height: 80px
}

.h90 {
    height: 90px
}

.h100 {
    height: 100px
}

.h110 {
    height: 110px
}

.h108 {
    height: 108px
}

.h116 {
    height: 116px
}

.h118 {
    height: 118px
}

.h120 {
    height: 120px
}

.h130 {
    height: 130px
}

.h160 {
    height: 160px
}

.h177 {
    height: 177px
}

.h197 {
    height: 197px
}

.h230 {
    height: 230px
}

.h250 {
    height: 250px
}

.h257 {
    height: 257px
}

.h260 {
    height: 260px
}

.h290 {
    height: 290px
}

.h360 {
    height: 360px
}

.h490 {
    height: 490px
}

.h500 {
    height: 500px
}

.h533 {
    height: 533px
}

.h584 {
    height: 584px
}

.h1000 {
    height: 1000px
}

.hp100 {
    height: 100%
}

.hp97 {
    height: 97%
}

.vh100 {
    height: 100vh
}

.vw100 {
    width: 100vh
}

.calc-h24 {
    height: calc(100% - 24px)
}

.calc-h64 {
    height: calc(100% - 64px)
}

.calc-h30 {
    height: calc(100% - 30px)
}

::-webkit-scrollbar {
    width: 2px
}

::-webkit-scrollbar-track {
    background: #fff
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:window-inactive {
    background: #2bb7b3
}

::-webkit-scrollbar-button:vertical:decrement {
    height: 8px;
    width: 8px;
    background: #fff
}

::-webkit-scrollbar-button:horizontal:decrement, ::-webkit-scrollbar-button:vertical:increment {
    height: 2px;
    width: 2px;
    background: #fff
}

::-webkit-scrollbar-button:horizontal:increment {
    height: 2px;
    width: 2px;
    background: #fff
}

.of-h, .of-hide {
    overflow: hidden
}

.of-y {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch
}

.of-x {
    overflow-x: auto;
    overflow-y: hidden
}

.bg-white {
    background-color: #fff
}

.bg-red {
    background-color: red
}

.bg-yellow {
    background-color: #ff0
}

.bg-pink {
    background-color: pink
}

.bg-theme {
    background-color: #2bb7b3
}

.white {
    color: #fff
}

.red {
    color: red
}

.yellow {
    color: #ff0
}

.pink {
    color: pink
}

.theme {
    color: #2bb7b3
}

.m_0_auto {
    margin: 0 auto
}

.mt-5 {
    margin-top: -5px
}

.mt-8 {
    margin-top: -8px
}

.mt-130 {
    margin-top: -130px
}

.mt-250 {
    margin-top: -250px
}

.mt-180 {
    margin-top: -180px
}

.mt-215 {
    margin-top: -215px
}

.mt0 {
    margin-top: 0 !important
}

.mt1 {
    margin-top: 1px
}

.mt3 {
    margin-top: 3px
}

.mt4 {
    margin-top: 4px
}

.mt5 {
    margin-top: 5px
}

.mt6 {
    margin-top: 6px
}

.mt7 {
    margin-top: 7px
}

.mt8 {
    margin-top: 8px
}

.mt10 {
    margin-top: 10px
}

.mt12 {
    margin-top: 12px
}

.mt13 {
    margin-top: 13px
}

.mt15 {
    margin-top: 15px
}

.mt17 {
    margin-top: 17px
}

.mt18 {
    margin-top: 18px
}

.mt20 {
    margin-top: 20px
}

.mt25 {
    margin-top: 25px
}

.mt30 {
    margin-top: 30px
}

.mt46 {
    margin-top: 46px
}

.mt50 {
    margin-top: 50px
}

.mt52 {
    margin-top: 52px
}

.mt64 {
    margin-top: 64px
}

.mt70 {
    margin-top: 70px
}

.mb1 {
    margin-bottom: 1px
}

.mb4 {
    margin-bottom: 4px
}

.mb5 {
    margin-bottom: 5px
}

.mb8 {
    margin-bottom: 8px
}

.mb10 {
    margin-bottom: 10px
}

.mb15 {
    margin-bottom: 15px
}

.mb20 {
    margin-bottom: 20px
}

.mb30 {
    margin-bottom: 30px
}

.mr0 {
    margin-right: 0
}

.mr1 {
    margin-right: 1px
}

.mr8 {
    margin-right: 8px
}

.mr10 {
    margin-right: 10px
}

.mr15 {
    margin-right: 15px
}

.mr20 {
    margin-right: 20px
}

.mr24 {
    margin-right: 24px
}

.mr30 {
    margin-right: 30px
}

.ml1 {
    margin-left: 1px
}

.ml5 {
    margin-left: 5px
}

.ml8 {
    margin-left: 8px
}

.ml10 {
    margin-left: 10px
}

.ml20 {
    margin-left: 20px
}

.ml40 {
    margin-left: 40px
}

.pd3 {
    padding: 3px
}

.pd5 {
    padding: 5px
}

.pd8 {
    padding: 8px
}

.pd12 {
    padding: 12px
}

.pd10 {
    padding: 10px
}

.pd15 {
    padding: 15px
}

.pd20 {
    padding: 20px
}

.pt5 {
    padding-top: 5px
}

.pt6 {
    padding-top: 6px
}

.pt10 {
    padding-top: 10px
}

.pt12 {
    padding-top: 12px
}

.pt15 {
    padding-top: 15px
}

.pt20 {
    padding-top: 20px
}

.pt30 {
    padding-top: 30px
}

.pt44 {
    padding-top: 44px
}

.pt64 {
    padding-top: 64px
}

.pr15 {
    padding-right: 15px
}

.pr18 {
    padding-right: 18px
}

.pr20 {
    padding-right: 20px
}

.pr25 {
    padding-right: 25px
}

.pr30 {
    padding-right: 30px
}

.pl5 {
    padding-left: 5px
}

.pl10 {
    padding-left: 10px
}

.pl15 {
    padding-left: 15px
}

.pl20 {
    padding-left: 20px
}

.pl21 {
    padding-left: 21px
}

.pl22 {
    padding-left: 22px
}

.pl25 {
    padding-left: 25px
}

.pl27 {
    padding-left: 27px
}

.pl30 {
    padding-left: 30px
}

.pb10 {
    padding-bottom: 10px
}

.pb15 {
    padding-bottom: 15px
}

.pb30 {
    padding-bottom: 30px !important
}

.fb {
    font-weight: 700
}

.fz12 {
    font-size: 12px
}

.fz14 {
    font-size: 14px
}

.fz16 {
    font-size: 16px
}

.fz18 {
    font-size: 18px
}

.fz20 {
    font-size: 20px
}

.fz23 {
    font-size: 23px
}

.fz25 {
    font-size: 25px
}

.fz30 {
    font-size: 30px
}

.fz32 {
    font-size: 32px
}

.fz37 {
    font-size: 37px
}

.fzb13 {
    font-size: 13px
}

.fzb13, .fzb14 {
    font-weight: 700
}

.fzb14 {
    font-size: 14px
}

.fzb16 {
    font-size: 16px
}

.fzb16, .fzb18 {
    font-weight: 700
}

.fzb18 {
    font-size: 18px
}

.bdr-p50 {
    border-radius: 50%
}

.bdr-p3 {
    border-radius: 3px
}

.bdr-p5 {
    border-radius: 5px
}

.bdr-p10 {
    border-radius: 10px
}

.lhp100 {
    line-height: 100%
}

.lh0 {
    line-height: inherit !important
}

.lh14 {
    line-height: 14px
}

.lh18 {
    line-height: 18px
}

.lh20 {
    line-height: 20px
}

.lh22 {
    line-height: 22px
}

.lh23 {
    line-height: 23px
}

.lh24 {
    line-height: 24px
}

.lh26 {
    line-height: 26px
}

.lh28 {
    line-height: 28px
}

.lh29 {
    line-height: 29px
}

.lh30 {
    line-height: 30px
}

.lh44 {
    line-height: 44px
}

.lh46 {
    line-height: 46px
}

.lh48 {
    line-height: 48px
}

.lh52 {
    line-height: 52px
}

.lh75 {
    line-height: 75px
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.f1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.flex-items {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.flex-row {
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row
}

.flex-col, .flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal
}

.flex-col {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.justify-end {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important
}

.justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.align-start {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important
}

.align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.align-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.flex-row-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.flex-row-center, .flex-row-stretch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}

.flex-row-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.flex-shrink-0 {
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.flex-1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.flex-2 {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2
}

.flex-3 {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3
}

.flex-row-betw-center {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.flex-row-betw-center, .flex-row-start-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.flex-row-start-center {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.flex-row-betw-start {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.flex-row-betw-start, .flex-row-start-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.flex-row-start-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.flex-col-betw-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.flex-col-betw-center, .flex-col-betw-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.flex-col-betw-center, .flex-row-center-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.flex-row-center-center {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.pos-rel {
    position: relative
}

.pos-abs {
    position: absolute
}

.pos-fixed {
    position: fixed
}

.pos-center {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto
}

.t0 {
    top: 0
}

.t10 {
    top: 10px
}

.t20 {
    top: 20px
}

.t35 {
    top: 35px
}

.t44 {
    top: 44px
}

.t50 {
    top: 50px
}

.t70 {
    top: 70px
}

.t80 {
    top: 80px
}

.t90 {
    top: 90px
}

.t95 {
    top: 95px
}

.t100 {
    top: 100px
}

.t110 {
    top: 110px
}

.t120 {
    top: 120px
}

.t84 {
    top: 84px
}

.t180 {
    top: 180px !important
}

.t200 {
    top: 200px !important
}

.tp50 {
    top: 50%
}

.r0 {
    right: 0
}

.r10 {
    right: 10px
}

.r20 {
    right: 20px
}

.r30 {
    right: 30px
}

.r44 {
    right: 44px
}

.r50 {
    right: 50px
}

.r59 {
    right: 59px
}

.r77 {
    right: 77px
}

.r88 {
    right: 88px
}

.r92 {
    right: 92px
}

.r120 {
    right: 120px
}

.r123 {
    right: 123px
}

.r233 {
    right: 233px
}

.r234 {
    right: 234px
}

.b0 {
    bottom: 0
}

.b10 {
    bottom: 10px
}

.b30 {
    bottom: 30px
}

.b31 {
    bottom: 31px
}

.b-10 {
    bottom: -10px
}

.l0 {
    left: 0
}

.l91 {
    left: 91px
}

.z-index10 {
    z-index: 10
}

.el-dialog .el-dialog__header {
    padding: 10px 10px 10px
}

.el-dialog .el-dialog__header .el-dialog__title {
    font-size: 14px
}

.el-dialog .el-dialog__header .el-dialog__headerbtn {
    top: 10px;
    right: 10px
}

.el-dialog .el-dialog__body {
    padding: 10px 20px;
    color: #606266;
    font-size: 12px
}

.el-dialog .el-dialog__footer {
    padding: 10px 10px 10px
}

.el-dialog .el-dialog__footer .el-button {
    padding: 6px 20px;
    font-size: 12px
}

.sheng-lue1 {
    white-space: nowrap
}

.sheng-lue1, .sheng-lue2 {
    overflow: hidden;
    text-overflow: ellipsis
}

.sheng-lue2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.font-color {
    color: #5a5a5a
}

.ofw-y {
    overflow-y: scroll
}

.ml-1-8 {
    margin-left: 1.3rem
}

.box-sad {
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .35);
    -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .35);
    -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .35)
}

.box-siz {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.relative {
    position: relative
}

.absolute {
    position: absolute
}

.hidden {
    overflow: hidden
}

.van-button--plain.van-button--primary {
    color: #2bb7b3 !important;
    border: 1px solid #2bb7b3 !important;
    background: rgba(43, 183, 179, .2) !important;
    border-radius: 50px
}

.van-button--primary {
    color: #fff !important;
    background: #2bb7b3;
    border-radius: 5px;
    border: 1px solid #2bb7b3 !important
}

.van-button--danger {
    color: #fff !important;
    background: #ee0a24;
    border-radius: 5px;
    border: 1px solid #ee0a24 !important
}

.van-field--disabled .van-field__label {
    color: #646566
}

.van-field__control:disabled {
    color: #646566;
    -webkit-text-fill-color: #646566
}

.van-cell-group--inset {
    margin: 0 5px
}

.cr {
    color: #9aa3a3
}

.van-cell {
    padding: 10px 5px
}